@font-face {
    font-family: Rubik;
    src: url("../../../assets/fonts/Rubik-VariableFont_wght.ttf");
}

:root {
    --background: rgb(255, 255, 255);
    --link: rgb(22, 70, 98);
    --text: rgb(36, 39, 61);

    --purple: #675a6f;
    --darker-purple: #4d3c5b;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: Rubik;
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes load {
    0% {
        margin-left: -150px
    }
    50% {
        margin-left: 150px;
    }
    100% {
        margin-left: -150px;
    }
}

body {
    height: 100%;
    width: 100%;
    user-select: none;
}

.center {
    padding: 55% 0; 
    user-select: none;
}

.center > div {
    padding: 5% 0;
    text-align: center;
    user-select: none;
}

img {
    animation: 3s infinite load ease;
    background-color: var(--darker-purple);
    border: 1px solid var(--darker-purple);
    border-radius: 50%;
    user-select: none;
    -webkit-user-drag: none;
}

footer {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    user-select: none;
}

.link-color {
    color: var(--link);
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}